---
layout: page
title: Work
mainNav: true
permalink: /work/
---

{% for post in site.categories.work %}
  <article class="work-item enter">
    <header class="work-item-header">
      <h2>{{post.title}}<br />
      <span>{{post.dates}}</span></h2>
    </header>

    <div class="work-item-content">
        {{post.content}}
        <p class="tags">{{post.tags}}</p>
    </div>

    {% if post.images %}
    <div class="gallery">
        {% for i in post.images %}
        <a href="/img/work/{{ post.slug }}/{{ i }}.png" class="njx"
          rel="work-gallery-{{ post.slug }}">
            <img src="/img/work/{{ post.slug }}/{{ i }}-tn.png"
              class="lazy-load" alt="">
        </a>
        {% endfor %}
    </div>
    {% endif %}

    <div class="clear"></div>
  </article>
{% endfor %}