<div id="wrap">
  <header id="main-header" class="clearfix" role="banner">
    <div class="centered">
      <h1>
        <a href="{{ site.baseurl }}/" title="Go back to the homepage">
          {{ site.title }}
        </a>
      </h1>

      <div id="author-info"
        {% if page.url != '/' %} class="hidden-author"{% endif %}>
        <img id="author-image" src="http://2.gravatar.com/avatar/6f6a07ac9ca344e9962e76c3df3a0624?s=75" alt="" />

        <div class="text">
          <p>
            I'm a <strong>front-end developer</strong> at
            <a href="http://diascreative.com" target="_blank">DIAS_</a>.<br />
            Based in <strong>Barcelona</strong>.
          </p>

          <p>
            I code with
            <strong title="xHTML, HTML5, yaddy yadda">HTML</strong>,
            <strong title="What? no ruby? python? Nodejs? - Not yet... I do work very closely with server-side devs on python and ruby projects though.">PHP</strong>,
            <strong title="http://xkcd.com/327/ .">MySQL</strong>,
            <strong title="Place this here and that there. This is recently becoming an exciting area with animations and more!">CSS</strong>,
            <strong title="I despise those who over use it for EVERTYHING, and even though it has its defects, it's a true friend.">JavaScript</strong>,
            <strong title="My lover - don't tell the missus.">jQuery</strong>
          </p>

          <p>
            more :
            <a href="https://github.com/{{ site.github_username }}/" title="View Rob's github account"
              target="_blank">github</a>,
            <a href="https://twitter.com/{{ site.twitter_username }}"
              title="View Rob's twitter account" target="_blank">Twitter</a>
          </p>
        </div>
      </div>

      <nav role="navigation">
        <a href="{{ '/' | prepend: site.baseurl }}"
          {% if page.url == '/' %}class="selected"{% endif %}>
          Blog
        </a>

        {% for navItem in site.pages %}
          {% if navItem.mainNav == true %}
          <a href="{{ navItem.url | prepend: site.baseurl }}"
            {% if page.url == navItem.url %}class="selected"{% endif %}>
            {{ navItem.title }}
          </a>
          {% endif %}
        {% endfor %}

        <a href="#contact" id="contact-toggle" title="Get in touch" class="njx">
          Contact
        </a>
      </nav>

      <div id="contact">
        <a href="#contact" id="close" class="force-close njx" title="Hide contact form">
          Hide the form
        </a>

        <div id="contact-feedback"></div>
        <form id="contact-form" action="" method="post">
          <label for="email" class="astv-txt">Your email</label>
          <input type="email" name="email" placeholder="your@email.com" required>
          <label for="message" class="astv-txt">Your message</label>
          <textarea name="message" placeholder="Your message" required></textarea>

          <button class="pos" disabled>Send message</button>
        </form>
      </div>
    </div>
  </header>

  <div id="content" role="main">
    <div class="centered">